<header class="bg-white shadow-sm">
    <div class="container-fluid d-flex align-items-center justify-content-between py-3">

        <!-- Logo link -->
        <a href="../index.html" class="d-flex align-items-center text-decoration-none">
            <img src="../assets/icons/logo.png" alt="Logo" class="logo me-2">
            <div class="text-dark fw-bold lh-sm">
                <div class="h5 mb-0 text-dark fw-bold">Prerana</div>
                <div class="h6 mb-0">Architects and Associates</div>
            </div>
        </a>

        <!-- Navigation menu -->
        <nav class="navbar navbar-expand-lg header-nav">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-lg-center">
                    <li class="nav-item"><a class="nav-link text-dark fw-medium" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link text-dark fw-medium" href="#projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link text-dark fw-medium" href="#about-us">About Us</a></li>
                    <li class="nav-item"><a class="nav-link text-dark fw-medium" href="#">Testimonials</a></li>
                    <li class="nav-item"><a class="nav-link text-dark fw-medium" href="#">Blog</a></li>
                    <li class="nav-item"><a href="#" class="btn btn-warning">Get a Quote</a></li>
                </ul>
            </div>
        </nav>

    </div>
</header>
