.project-image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.project-img {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

/* Overlay Button */
.overlay-btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.7);
    color: var(--secondary-color);
    padding: 6px 16px;
    border-radius: 30px;
    opacity: 0;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-size: 0.8rem;
}

/* Hover Effect */
.project-card:hover .overlay-btn {
    opacity: 1;
    bottom: 25px;
}

.project-hidden {
    display: none;
}

.project-expanded .project-hidden {
    display: block;
}

#project-filters {
    display: flex;
    justify-content: center;
}

#project-filters .btn {
    flex: 1;
    white-space: nowrap;
}

/* Filter Container */
.project-filter-tabs {
    display: flex;
    justify-content: center;
    gap: 12px;
    background: var(--project-filter-bg);
    padding: 8px;
    border-radius: 50px;
    max-width: 600px;
    margin: 0 auto;
}

.filter-btn {
    flex: 1;
    border: none;
    background: transparent;
    padding: 10px 18px;
    border-radius: 40px;
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--text-secondary-color);
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}

/* Hover */
.filter-btn:hover {
    background: var(--icon-bg-light);
    color: var(--primary-color);
}

/* Active State */
.filter-btn.active {
    background: var(--accent-color);
    color: var(--secondary-color);
    box-shadow: var(--shadow-overlay);
}
